
h1{
    background-color: rgb(48, 48, 48);
    font-size: 2rem;    
}
.h1BigText {
    margin: auto;
    width: 30%;
    text-align: center;
    border-radius: 8px;
  }
.pWorks {
    text-align: center;

}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:25%;
    width: 25%;
    border-radius: 8px;
  }
  .imgToddButton{
    width: 100%;
    border-radius: 0px;
  }
    button { 
  width: 50%;
  padding: 0;
  background-color: black;
  border-radius: 0px;
  }
  #butToddTwo{
  width: 50%;
  padding: 0;
  background-color: black;
  border-radius: 0px;
  }
  #imgToddButtonTwo{
    width: 100%;
    border-radius: 0px;
  }
audio { display: none;
}
#pToddslies {
  background-color: brown;
}
#butTRUTH {
  color: #cccccc;
}
#butTRUTHhide {
  color: #cccccc;
}
  body {
    background-image: url("../images/spacewp.jpg");
    background-size:cover;
   }
   img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }